.player .audioplayer:not(.audioplayer-playing) .audioplayer-playpause a {
  border-left: 12px solid #777;
}

.player .audioplayer-playing .audioplayer-playpause a::before,
.player .audioplayer-playing .audioplayer-playpause a::after,
.player .audioplayer-volume-button a {
  background-color: #777;
}

.player .audioplayer-time {
  color: #777;
}

.player .audioplayer-volume-button a:before {
  border-right: 9px solid #777;
}

.player .audioplayer:not(.audioplayer-mute) .audioplayer-volume-button a:after {
  left: 10px;
  top: -2px;
  width: 12px;
  height: 12px;
  border: 6px double #777;
  border-width: 6px 6px 0 0;
  border-radius: 0 12px 0 0;
  transform: rotate(45deg);
}

.player .audioplayer-bar::before,
.player .audioplayer-volume-adjust > div {
  background-color: #777;
}

.player .audioplayer-bar-played::after {
  background-color: #84a4c3;
}

.player .audioplayer:not(.audioplayer-playing) .audioplayer-bar-played::after,
.player .audioplayer-playing .audioplayer-bar-played::after {
  border: 2px solid #84a4c3;
}

.player .audioplayer-volume-adjust div div:after {
  background-color: #84a4c3;
}

.connectGroupCardContent {
  height: 200px;
}

@media screen and (max-width: 575px) {
  .media-player .audioplayer-playpause {
    position: absolute;
    left: calc(50% - 10px);
    top: 102px;
  }
  .media-player
    .audioplayer:not(.audioplayer-playing)
    .audioplayer-playpause
    a {
    border-top: 12px solid transparent !important;
    border-bottom: 12px solid transparent !important;
    border-left: 20px solid white !important;
  }
  .audioplayer-time-current,
  .audioplayer-time-duration {
    margin: unset !important;
  }
  .audioplayer-bar {
    margin: 0 5px;
  }
  .media-player .audioplayer-volume {
    position: absolute;
    top: 100px;
    left: 10px;
  }
  .media-player .audioplayer-playing .audioplayer-playpause a {
    width: 16px;
    height: 20px;
  }
  .media-player .audioplayer-playing .audioplayer-playpause a::before,
  .media-player .audioplayer-playing .audioplayer-playpause a::after {
    width: 5px;
    height: 20px;
  }
}

.media {
  margin: 0 auto 15px auto;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: left;
  max-width: 900px;
}
.media .player {
  width: 100%;
}

.media .secondColor {
  font-size: 14px;
}

.audioplayer {
  border: none;
  width: 100%;
}

.audioplayer-playpause {
  border: none;
}
.audioplayer-playpause:hover {
  background: none;
}
