.introduction-section {
  padding: 70px 0;
}
.introduction-section .title {
  font-family: 'bebas_neueregular', sans-serif;
  font-size: 2.4em;
  color: #84a4c3;
  text-align: center;
  text-transform: uppercase;
}
.introduction-section .page-description {
  color: #707070;
}
.introduction-section .description-images-container {
  padding: 40px 0;
  position: relative;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .introduction-section .description-images-container .third-image-container {
    float: left;
    display: inline-block;
    position: absolute;
    bottom: 40px;
    padding-right: 0;
  }
}
.introduction-section .description-images-container .image-container {
  width: 100%;
  padding: 10px 0;
}
.introduction-section .description-images-container .image-container img {
  width: 100%;
}
