.introduction-section {
  padding: 70px 0;

  .title {
    font-family: "bebas_neueregular",sans-serif;
    font-size: 2.4em;
    color: #84A4C3;
    text-align: center;
    text-transform: uppercase;
  }

  .description {
    color: #707070;
  }

  .description-images-container {
    padding: 40px 0;
    position: relative;

    @media only screen and (min-width: 768px) and (max-width: 991px){
      .third-image-container {
        float: left;
        display: inline-block;
        position: absolute;
        bottom: 40px;
        padding-right: 0;
      }
    }

    .image-container{
      width: 100%;
      padding: 10px 0;
      img {
        width: 100%;
      }
    }
  }
}