.locations-component .section-title {
  font-family: 'bebas_neueregular', sans-serif;
  color: #84a4c3;
  font-size: 2.5em;
}
@media only screen and (max-width: 991px) {
  .locations-component .section-title {
    text-align: center;
  }
}

.locations-component .locations-container {
  position: relative;
  overflow: hidden;
  /**
    For Desktop Views
     */
}
@media only screen and (min-width: 992px) {
  .locations-component .locations-container .locations-viewer {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
  }
  .locations-component
    .locations-container
    .locations-viewer
    .image-transitions-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .locations-component
    .locations-container
    .locations-viewer
    .image-transitions-container
    img {
    position: absolute;
    height: 100%;
    top: 0;
    transition: opacity 1s ease-in-out;
    opacity: 0;
  }
  .locations-component
    .locations-container
    .locations-viewer
    .image-transitions-container
    img.opaque {
    opacity: 1;
  }
  .locations-component
    .locations-container
    .locations-viewer
    .locations-data-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
  }
}
@media only screen and (max-width: 991px) {
  .locations-component .locations-container .image-transitions-container {
    display: none;
  }
  .locations-component .locations-container .locations-data-container {
    display: none;
  }
  .locations-component .locations-container .locations-data-container-tablet {
    display: block;
  }
}
@media only screen and (min-width: 992px) {
  .locations-component .locations-container .locations-data-container-tablet {
    display: none;
  }
}
@media only screen and (min-width: 992px) {
  .locations-component .locations-container .default-viewer.hide {
    opacity: 0;
  }
}
@media only screen and (max-width: 991px) {
  .locations-component .locations-container .default-viewer.hide {
    display: none;
  }
}
@media only screen and (max-width: 991px) {
  .locations-component .locations-container {
    position: relative;
    width: 100%;
    height: 100%;
  }
}
.locations-component .locations-container .default-viewer {
  width: 100%;
  transition: opacity 1s ease-in-out;
}
.locations-component .locations-container .default-viewer img {
  width: 100%;
}
.locations-component .locations-container .scale-loader-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.locations-component
  .locations-container
  .scale-loader-container
  .scale-loader {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.locations-component
  .locations-container
  .scale-loader-container
  .location-loading-error-text {
  color: white;
  font-size: 2.5em;
  text-align: center;
}
