.welcome-section {
  position: relative;

  .carousel-img-container {
    height: 100vh;
    overflow: hidden;
  }

  .logo-container {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    img {
      margin-right: 50px;
    }
  }
}