.welcome-section {
  position: relative;
}
.welcome-section .carousel-img-container {
  height: 100vh;
  overflow: hidden;
}
.welcome-section .logo-container {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.welcome-section .logo-container img {
  margin-right: 50px;
}
