.location-scene {
  position: relative;
  overflow: hidden;

  .loading-viewer {
    width: 100%;
    transition: opacity 1s ease-in-out;

    &.hide {
      display: none;
    }

    img {
      width: 100%;
    }

    .scale-loader-container {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      .scale-loader {
        display: flex;
        align-items: center;
        flex-direction: column;
      }

      .location-loading-error-text {
        color: white;
        font-size: 2.5em;
        text-align: center;
      }
    }
  }

  .location-info-container {
    .banner-image-container {
      position: relative;

      .banner-image {
        width: 100%;
      }

      .blur-img {
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
        height: 7.0em;
      }

      .logo-container {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;

        .logo-img-container {
          width: 100%;
          text-align: right;

          img {
            margin-left: auto;
            margin-right: 10%;
            height: 200px;
          }
        }
      }
    }
    .location-title {
      font-family: "bebas_neueregular",sans-serif;
      font-size: 2.4em;
      color: #84A4C3;
      text-align: center;
      text-transform: uppercase;
    }

    .location-description {
      color: #707070;
    }

    .location-profile {
      display: flex;
      justify-content: center;

      .pastor-photo-container {
        width: 40%;

        img {
          width: 100%;
        }
      }
      .profile-info {
        width: 60%;
        padding-left: 10px;
        display: flex;
        flex-direction: column;
      }
    }

    .location-social {
      display: block;
      height: 100%;

      .location-social-btns {
        position: absolute;
        bottom: 0;
        right: 0;
        a {
          color: black;
          font-size: 2.0em;
          padding: 0 5px;
          &:hover {

            text-decoration: none;
          }
        }
      }
    }

    .join-btn-container {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 20px 0;

      a {
        padding: 10px;
        color: white;
        background-color: #84A4C3;
        border-radius: 5px;

        &:hover {
          text-decoration: none;
        }
      }
    }

    .podcasts-container {
      margin: 2.0em 0;
      .podcasts {
        .audioplayer {
          height: 20px !important;
        }
      }
    }

    .service-time {
      margin: 10px 0;

      .service-time-infos {
        border: 1px solid #aaa;

        .infos-section {
          padding: 25px 0 25px 40px;

          .field {
            display: flex;
            -ms-flex-align: center;
            align-items: center;
            color: #8C8C8C;
            padding: 10px 0;

            .icon-container {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 40px;

              i {
                font-size: 2.5em;
                align-self: center;
              }
            }

            .values {
              padding-left: 10px;
            }
          }
        }
      }
    }
  }

  .podcast-card {
    margin: 25px 0;
    .podcast-infos {
      color: #212529;
      padding-left: 15px;
      .podcast-title {
        font-size: 1.0em;
      }
      .podcast-date {
        font-size: 0.9em;
      }
    }
  }
}