.location-scene {
  position: relative;
  overflow: hidden;
}
.location-scene .loading-viewer {
  width: 100%;
  transition: opacity 1s ease-in-out;
}
.location-scene .loading-viewer.hide {
  display: none;
}
.location-scene .loading-viewer img {
  width: 100%;
}
.location-scene .loading-viewer .scale-loader-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.location-scene .loading-viewer .scale-loader-container .scale-loader {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.location-scene
  .loading-viewer
  .scale-loader-container
  .location-loading-error-text {
  color: white;
  font-size: 2.5em;
  text-align: center;
}
.location-scene .location-info-container .banner-image {
  width: 100%;
}
