body {
  font-family: Roboto,'sans-serif';
}

.align-item-container {
  display: flex;
  align-items: center;
  justify-content: center;

  .align-item {
    &.align-item-top {
      align-self: flex-start;
    }

    &.align-item-bottom {
      align-self: flex-end;
    }
  }
}
