.connect-scene > img {
  width: 100%;
}

.connect-scene .title {
  font-family: 'bebas_neueregular', sans-serif;
  font-size: 2.4em;
  color: #84a4c3;
  text-align: left;
  text-transform: uppercase;
}

.connect-scene .description {
  color: #707070;
}

.connect-scene .groups-container {
  min-height: 400px;
  padding: 20px;
}

.connect-scene .loading-events-container {
  position: relative;
  display: flex;
  height: 100%;
  min-height: 250px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.connect-scene .loading-events-container.hide {
  display: none;
}
.connect-scene .loading-events-container .loading-events {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.connect-scene .groups-loading-error-text {
  color: #84a4c3;
  font-size: 1.5em;
  text-align: center;
}
